<div><h1>Besoin d'aide alimentaire</h1>
<p>
    <h2>La Banque Alimentaire</h2>
    <a href="https://www.banquealimentaire.org/trouver-de-laide-240">lien</a>
</p>
<p>
    <h2>Les épiceries sociales </h2>
    Il y en a 700 en France. Vous y trouverez divers produits pour pas cher.
    <a href="https://api-site.paris.fr/images/72866">Liste des épiceries sociales de Paris</a>
</p>
<p>
    <h2>Restaurants Crous</h2>
    Vous permettrons d'économiser tout en mangeant un repas chaud <a href="  http://www.crous-paris.fr/restauration/les-lieux-de-restauration/ouverture-des-restaurants-et-des-cafeterias-universitaires/">lien</a>
</p>
</div>