    <h1>Des associations peuvent aussi vous aider</h1>
    <div>
        <h2>Etudiants étrangers (dans Paris)</h2>
        <a href="https://www.ageparis.org/etudiants-internationaux/">lien</a>
    </div>
    <div>
        <h2>Etudiants sans papiers</h2>
        <a href ="https://www.gisti.org/spip.php?article132">lien</a>
    </div>
    <div>
        <h2>Etudiants handicapés</h2>
        <ul>
            <li><a href="https://www.gisti.org/spip.php?article132">arpejeh</a></li>
            <li><a href="https://fedeeh.org/">fedeeh</a></li>
        </ul>
    </div>
    <div>
        <h2>Les restos du cœur</h2>
        <a href="https://www.restosducoeur.org/">lien</a>
    </div>
    <div>
        <h2>La croix rouge</h2>
        <a href="https://www.croix-rouge.fr/">lien</a>
    </div>