<div><h1>Les avantages dans le loisir</h1>
    <div>
        <h2>Les Musées gratuit pour les moins de 25 ans</h2>
        <a href="file:///C:/Users/litis/Downloads/liste_MF.pdf">Liste des musées</a>
    </div>
    <div>
        <h2>Diverse sorties gratuite</h2>
        <a href="http://etudiant.aujourdhui.fr/etudiant/sortir/recherche/gratos.html">lien</a>
    </div>
    <div>
        <h2>Cours de danse gratuit</h2>
        Salsa et Rock tous les lundis et mardis soirs à Paris <a href="http://rock.ueensam.org/">lien</a>
    </div>
</div>